<div layout layout-align="center center">
  <md-card flex ="60">
        <md-card-title style="border-bottom:1px solid;">
          
          <md-card-title-media style="padding:1rem;">
            <div class="md-media-lg card-media">
              <img ng-src="{{user.avatar_url}}" alt="Washed Out">
            </div>
          </md-card-title-media>
          <md-card-title-text style="padding:2rem;">
            <span class="md-headline">{{user.name}}</span>
            <span class="md-subhead">{{user.company}}</span>
            <span class="md-subhead">{{user.email}}</span>
            <span class="md-subhead">{{user.bio}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
          <md-button>
            <md-font-icon class="fa fa-user" ></md-font-icon> <br>
          {{user.followers}}
          </md-button>
          <md-button>
            <md-font-icon class="fa fa-users" ></md-font-icon> <br>
          {{user.following}}</md-button>
          <md-button>
            <md-font-icon class="fa fa-code-fork" ></md-font-icon> <br>
          {{user.public_gists}}</md-button>
          <md-button>
            <md-font-icon class="fa fa-github" ></md-font-icon> <br>
          {{user.public_repos}}</md-button>
        </md-card-actions>
      </md-card>
  
</div>